{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% load thumbnail %}


{% block content %}
<h1 class="text-center">All Batches</h1>
{% include 'components/navigation/navigator.html' %}

{% if batches %}
<div class="row">
    {% for batch in batches %}
    <a href="{{batch.id}}">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="card">
                <div class="card-img-top">
                    <img class="img-fluid rounded" style="overflow: hidden;"
                        src="{% thumbnail batch.related_recipe.image 400x300 box=batch.related_recipe.cropping crop detail %}"
                        alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{batch.name}}</h5>
                    <p class="card-text">{{batch.start_date}}</p>
                    <a href="{{batch.id}}" class="btn btn-primary">{% trans "readMore" %}</a>
                    <!-- TODO: Add progress bar with progress of batch. Ref: https://www.gethalfmoon.com/docs/progress/-->
                    <!-- TODO: Add red batch if a task in batch is overdue. Ref: https://www.gethalfmoon.com/docs/progress/-->
                    <!-- TODO: Replace image with latest image of batch. Use recipe image only if not batch image available -->
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No recipes are available.</p>
{% endif %}

{% endblock content %}