{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
	<script src="{% url 'javascript-catalog' %}"></script>
	<script>
        var csrftoken = '{{ csrf_token }}';
	</script>
	<script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('as', {
                batch: {},
                executions: [],
                executionNames: {},
                processCache: {},
                recipe: {},
                editMode: false,

                async disableEditMode() {
                    this.editMode = false;
                    this.batch = await (await fetch('/api/batch/' + this.batch.id)).json();
                },
                async saveBatch() {
                    await (await fetch('/api/batch/' + this.batch.id, {
                        method: 'PATCH',
                        body: JSON.stringify(this.batch),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': this.getCookie('csrftoken'),
                        },
                    }).then(async (response) => {
                        if (response.status === 400)
                            this.toastDangerAlert(`${gettext("CouldNotUpdateBatch")}`, JSON.stringify(await response.json()))
                        if (response.status === 200)
                            await this.disableEditMode();
                    }))
                },
                async init() {
                    this.batch = await (await fetch('/api/batch/{{ batch.id }}')).json();
                    this.recipe = await (await fetch('/api/recipe/{{ batch.related_recipe.id }}')).json();
                    this.executions = await (await fetch('/api/execution/?related_batch=' + this.batch.id + '&ordering=execution_datetime')).json();
                    for (const execution of this.executions) {
                        if (!this.processCache[execution.related_process]) {
                            const processId = execution.related_process.toString();
                            const response = await (await fetch('/api/process/' + processId)).json();
                            this.processCache[response.id] = response.name
                        }
                        this.executionNames[execution.related_process] = this.processCache[execution.related_process];
                    }
                },
                async complete(executionId) {
                    let a = await (await fetch('/batches/executions/complete/' + executionId + '/')).json();
                    this.executions = await (await fetch('/api/execution/?related_batch=' + this.batch.id + '&ordering=execution_datetime')).json();
                },
                getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                },
                toastDangerAlert(title, content) {
                    halfmoon.initStickyAlert({
                        content: content,
                        title: title,
                        alertType: "alert-danger",
                        fillType: "filled"
                    });
                }
            })

        })
	</script>
{% endblock header %}

{% block content %}
	<div x-data class="card">

		<h1 x-show="!$store.as.editMode" x-text="$store.as.batch.name" class="text-center"></h1>
		<input x-show="$store.as.editMode" x-model="$store.as.batch.name"
			   class="form-control text-center font-weight-bold h1">

		<div class="row">
			<div class="col-2">
			</div>
			<div class="col-8">
				<div class="progress-group">
					<div class="progress">
						<div role="progressbar" :style="{width: $store.as.batch.progress_percentage + '%'}"
							 aria-valuenow="$store.as.batch.progress_percentage" aria-valuemin="0" aria-valuemax="100"
							 class="progress-bar progress-bar-animated"
							 :class="$store.as.batch.progress_percentage < 20 ? 'bg-danger' : $store.as.batch.progress_percentage < 40 ? 'bg-secondary' : $store.as.batch.progress_percentage < 100 ? 'bg-primary': 'bg-success'"></div>
					</div>
					<span x-text="$store.as.batch.progress_percentage + '%'" class="progress-group-label"></span>
				</div>
			</div>
			<div class="col-2">
			</div>
		</div>
		<div class="content">
			<span x-show="!$store.as.editMode" data-toggle="tooltip" data-title="{% trans "StartDate" %}"
				  data-placement="bottom" class="badge-group"
				  role="group">
				<span class="badge bi bi-calendar-plus"></span>
				<span x-text="$store.as.batch.start_date.replace('T', ' ')" class="badge"></span>
			</span>
			<input x-show="$store.as.editMode" class="badge" type="datetime-local" x-model="$store.as.batch.start_date">

			<span data-toggle="tooltip" data-title="{% trans "EndDate" %}" data-placement="bottom" class="badge-group"
				  role="group">
				<span class="badge bi bi-calendar-check"></span>
				<span x-text="$store.as.batch.end_date.replace('T', ' ')" class="badge"></span>
			</span>
			<span data-toggle="tooltip" data-title="{% trans "recipe" %}" data-placement="bottom" class="badge-group"
				  role="group">
            <a :href="'/recipe_manager/recipe/' + $store.as.recipe.id"
			   class="badge badge-primary" x-text="$store.as.recipe.name"></a>
        </span>
		</div>
		<div x-data class="border-top">
			<p x-show="!$store.as.editMode" x-text="$store.as.batch.description"></p>
			<textarea class="form-control" x-show="$store.as.editMode" x-model="$store.as.batch.description"></textarea>
		</div>
	</div>



	<div class="card">
		<h2 class="card-title">
			{% trans "NextTasks" %}
		</h2>
		<div
				x-data x-init="$store.as.init()"
		>

			<template x-for="execution in $store.as.executions">
				<div class="collapse-group w-500 mw-full mb-10">
					<!-- w-500 = width: 50rem (500px), mw-full = max-width: 100% -->
					<!-- First collapse panel (open by default) -->
					<div class="container border p-10" x-data="{url:'abc'}">
						<a :href="'/recipe_manager/recipe/' + $store.as.recipe.id"
						   x-text="$store.as.executionNames[execution.related_process]"><strong></strong></a>
						<br/>
						<span class="text-muted"
							  x-text="gettext('execution')+ ': ' + execution.execution_datetime.split('.')[0]">
						</span>
						<template x-if="execution.overdue">
							<span class="badge badge-danger">{% trans "overdue" %}</span>
						</template>
						<template x-if="execution.overdue">
							<div>
								<button @click="$store.as.complete(execution.id)"
										class="btn btn-success">
									{% trans "done" %}</button>
							</div>
						</template>

					</div>
				</div>
			</template>
		</div>

		{% for execution in batch.get_executions %}

		{% endfor %}
	</div>


{% endblock content %}



{% block footer %}

	<div x-data>
		<div class="dropdown dropup with-arrow" x-show="!$store.as.editMode">
			<button class="btn" data-toggle="dropdown" type="button" id="..." aria-haspopup="true"
					aria-expanded="false">
				<i class="bi bi-caret-up" aria-hidden="true"></i> {% trans "actions" %}
			</button>
			<div class="dropdown-menu " aria-labelledby="...">
				<button style="width:100%" class="btn btn-primary mb-10"
						@click="$store.as.editMode = true">{% trans "edit" %}</button>
			</div>
		</div>
		<button x-show="$store.as.editMode"
				@click="await $store.as.saveBatch()"
				class="btn btn-success mr-10">{% trans "save" %}</button>
		<button x-show="$store.as.editMode"
				@click="await $store.as.disableEditMode()"
				class="btn btn-danger">{% trans "cancel" %}</button>
	</div>
{% endblock %}