{% extends "base.html" %}
{% load cropping %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="modal" id="modal-2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            </a>
            <h5 class="modal-title">{% trans "importRecipe" %}</h5>
            <form action="import" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="jsondata" >Json</label>
                    <textarea type="text" id="jsondata" class="form-control" placeholder="jsondata" name="jsondata" ></textarea>
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="{% trans "import" %}">
            </form>
        </div>
    </div>
</div>


<h1 class="text-center">
    {% trans "Recipes" %}
</h1>

{% if recipes %}
<!--TODO: Export this navigator as component - so it can be reused by multiple lists-->
<div class="row">
    {% for recipe in recipes %}
    <a href="{{recipe.id}}">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
            <div class="card">
                <div class="card-img-top">
                    <img class="img-fluid rounded" style="overflow: hidden;"
                        src="{% thumbnail recipe.image 400x300 box=recipe.cropping crop detail %}" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.get_description_preview}}</p>
                    <a href="{{recipe.id}}" class="btn btn-primary">{% trans "readMore" %}</a>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No recipes are available.</p>
{% endif %}

{% endblock %}



{% block footer %}

<button class="btn btn-primary  mr-10" onclick="location.href='create'" type="button">
    {% trans "createRecipe" %}
</button>

<a href="#modal-2" class="btn btn-primary" role="button">{% trans "importRecipe" %}</a>

{% endblock footer %}