{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fermentio</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'halfmoon/css/halfmoon.min.css' %}">
        <script type="text/javascript" src="{% static 'halfmoon/js/halfmoon.js' %}"></script>

    </head>
    <body>
        <div 
    class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" 
    data-sidebar-type="overlayed-sm-and-down">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>
    <!-- Navbar -->
    <nav class="navbar">
      ...
    </nav>
    <!-- Sidebar overlay -->
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <!-- Sidebar -->
    <div class="sidebar">
      ...
    </div>
    <!-- Content wrapper -->
    <div class="content-wrapper">
      ...
    </div>
    <!-- Navbar fixed bottom -->
    <nav class="navbar navbar-fixed-bottom">
      ...
    </nav>
  </div>
          
    </body>
</html>