{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<h1 class="text-center">{% trans "Notification" %}</h1>

<div class="card">
    <h2 class="card-title">
        Pushover
    </h2>
    <div class="custom-switch">
        <input type="checkbox" id="switch-1" value="">
        <label for="switch-1">{% trans "Active" %}</label>
    </div>
    <details class="collapse-panel w-400 mw-full mt-20">
        <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
        <summary class="collapse-header">
            {% trans "Credentials" %}
        </summary>
        <div class="collapse-content">
            Computers are important because they are like bicycles for the mind.
        </div>
    </details>
</div>

{% endblock content %}