{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}

	<script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('as', {
                jars: [],

                async init() {
                    this.batches = await (await fetch('/api/batch/')).json();
                    this.jars = await (await fetch('/api/qrcode/')).json();
                },
                async createJar() {
                    let jar = await (await fetch('/api/qrcode/', {
                        method: "POST",
                        body: JSON.stringify({
                            name: "Jar Name",
                            description: "Jar Description",
                        }),
                        headers: {
                            'X-CSRFToken': this.getCookie('csrftoken'),
                            "Content-Type": "application/json",
                        }
                    })).json();
                    window.location.href = jar.id + "?edit=true"
                    console.log(jar)
                },
                getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                },
            })

        })
	</script>
{% endblock %}

{% block content %}
	<h1>{% trans "jars" %}</h1>
	<div x-data class="row">
		<template x-for="jar in $store.as.jars">
			<div class="col-lg-4 col-md-6 col-sm-12 mb-30">
				<div style="cursor: pointer;" @click="location.href=jar.id" class="card">
					<div class="card-img-top">
						<img class="img-fluid rounded"
							 :src="jar.jar_image"
							 style="width: 300px; height: 200px; object-fit: cover;overflow: hidden;"
							 alt="">
					</div>
					<div class="card-body">
						<h5 class="card-title" x-text="jar.name"></h5>
						<a :href=" jar.batch ? ('/batches/batch/' + jar.batch) : ''"
						   class="card-text"
						   x-text="`{% trans 'Batch' %}` + ': ' + (jar.batch_name ? jar.batch_name : '')"></a>
						<p x-text="jar.description"></p>
					</div>
				</div>
			</div>
		</template>
	</div>


{% endblock content %}


{% block footer %}

	<div x-data class="dropdown dropup with-arrow">
		<button class="btn" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false">
			<i class="bi bi-caret-up" aria-hidden="true"></i> {% trans "actions" %}
		</button>
		<div class="dropdown-menu " aria-labelledby="...">
			<button style="width:100%" class="btn btn-primary mb-10" @click="$store.as.createJar()" type="button">
				{% trans "createJar" %}
			</button>
		</div>
	</div>


{% endblock footer %}