{% extends "base.html" %}
{% load cropping %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    {% include 'components/navigation/navigator.html' %}

    <div class="modal" id="modal-2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h5 class="modal-title">{% trans "importRecipe" %}</h5>
                <form action="import" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="jsondata">Json</label>
                        <textarea type="text" id="jsondata" class="form-control" placeholder="jsondata"
                                  name="jsondata"></textarea>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="{% trans "import" %}">
                </form>
            </div>
        </div>
    </div>


    <h1 class="text-center">
        {% trans "Recipes" %}
    </h1>

    {% if recipes %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                    <div style="cursor: pointer;" onclick="location.href='{{ recipe.id }}';" class="card">
                        <div class="card-img-top">
                            {% if recipe.image.url is not null %}
                                <img class="img-fluid rounded" style="overflow: hidden;"
                                     src="{% thumbnail recipe.image 400x300 box=recipe.cropping crop detail %}"
                                     alt="...">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <span class="badge">
                    <span class="bi bi-star-fill {% if recipe.rating > 0 %} checked {% endif %}"></span>
                    <span class="bi bi-star-fill {% if recipe.rating > 1 %} checked {% endif %}"></span>
                    <span class="bi bi-star-fill {% if recipe.rating > 2 %} checked {% endif %}"></span>
                    <span class="bi bi-star-fill {% if recipe.rating > 3 %} checked {% endif %}"></span>
                    <span class="bi bi-star-fill {% if recipe.rating > 4 %} checked {% endif %}"></span>
                </span>
                            <style>
                                .checked {
                                    color: orange;
                                }
                            </style>
                            {% if recipe.difficulty == "hard" %}
                                <span class="badge badge-danger">{{ recipe.difficulty }}</span>
                            {% elif recipe.difficulty == "medium" %}
                                <span class="badge badge-secondary">{{ recipe.difficulty }}</span>
                            {% elif recipe.difficulty == "easy" %}
                                <span class="badge badge-success">{{ recipe.difficulty }}</span>
                            {% endif %}
                            <p class="card-text">{{ recipe.get_description_preview }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes are available.</p>
    {% endif %}

{% endblock %}



{% block footer %}

    <div class="dropdown dropup with-arrow">
        <button class="btn" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-caret-up" aria-hidden="true"></i> {% trans "actions" %}
        </button>
        <div class="dropdown-menu " aria-labelledby="...">
            <button style="width:100%" class="btn btn-primary mb-10" onclick="location.href='create'" type="button">
                {% trans "createRecipe" %}
            </button>

            <a href="#modal-2" style="width:100%" class="btn btn-primary" role="button">{% trans "importRecipe" %}</a>
        </div>
    </div>


{% endblock footer %}